body{
    background-image: url(library-book-shelf-seamless-background-vector-21309120.jpg);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    float: left;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgba(173, 216, 230, 0.835);
    border-radius: 30px;
    margin-right: 65px;
}
form label{
    height: 90px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form input,select,fieldset{
    width: 400px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border: 1.5px solid;
    border-radius: 5px;    
}
fieldset{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 80px;
}
#type_div p{
    margin-left: 140px;
}
form input[type="submit"]{
    width: 100px;
    margin-top: 50px;
}
form p{
    margin: 0;
    position: absolute;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(211, 11, 11);
}
.type{width: 20px;
    font-size: 15px;
    text-align: center;
}
select, option{
    text-align-last:center;
}

table{
    width: 55%;
    font-size: 20px;
    color: rgb(214, 223, 226);
    box-sizing: border-box;
    border: 4px solid black;
}
table td{
    width: 7.14%;
    text-align: center;
    position: relative;
}
table tr{
    box-sizing: border-box;
    border: 4px solid black;
}
